{% extends "paginas/base.html" %}

{% block header %}
<div class = "jumbotron">
    <h2>Organize o seu aprendizado</h2>
</div>
{% endblock header %}

{% block conteudo %}
    {% if user.is_authenticated %}
        <h3>
        Sempre que voce aprender um assunto novo, crie um topico e faça as suas anotações
        </h3>
    {% else %}
        <h3>
        <a href = "{% url 'register' %}">Crie um conta</a>, tenha aceso ao Learnig 
        Logs, liste os seus tópicos de aprendizado e faça suas anotações 
        </h3>
        <h3>
            Sempre que voce aprender um assunto novo, crie um topico e faça as suas anotações
        </h3>
    {% endif %}



{% endblock conteudo %}