{% extends "paginas/base.html" %}

{% block conteudo %}
    <p>The PAN-OS® and Panorama™ REST API allow you to manage firewalls and Panorama through a third-party service, application, or script.
You can use the REST API to Create, Read, Update, Delete (CRUD) Objects and Policies on the firewalls; you can access the REST API directly on the firewall or use Panorama to perform these operation on policies and objects from a central location and push them to the managed firewalls.
The inputs in the PAN-OS REST API generally match the web interface, and you can use the PAN-OS Web Interface Help to familiarize yourself with the field properties, descriptions, and supported values for each product. Reading relevant portions of the PAN-OS Administrator’s Guide will help you get a better understanding of firewall capabilities that you can access using the API. To use the API, you should also be knowledgeable about web service APIs and HTTP.
For performance considerations, limit the number of concurrent API calls to five. The suggested limit ensures that there is no performance impact to the firewall web interface as the management plane web server handles requests from both the API and the web interface. Limits may vary depending on the type of request. The limit may be higher depending on requests.
To get started, see:</p>
{% endblock conteudo %}