{% extends "paginas/base.html" %}
{% load bootstrap3 %}


{% block header %}<h2>Topicos: </h2>{% endblock header %}


{% block conteudo %}
    <ul>
        {% for topic in topics %}
            
            <li>
                <h4>
                    <a href = "{% url 'topic' topic.id %}" style="text-decoration: none">{{ topic }}</a>
                </h4>
            </li>
        {% empty %}
            <li>Não há tópicos</li>
        {% endfor %}
    </ul>
    <a href = "{% url 'new_topic' %}" style="text-decoration: none">Adicionar Topico</a>
{% endblock conteudo %}