{% extends "paginas/base.html" %}
{% load bootstrap3 %}


{% block header %}<h2>{{ topic }} </h2>{% endblock header %} 
{% block conteudo %}

        {% for entry in entries %}
            <div class = "panel panel-default">
                <div class = "panel-heading">
                    <h3>
                        {{ entry.date_added}}
                        <small> <a href = "{% url 'edit_entry' entry.id %}" style="text-decoration: none">Editar anotação</a> <small>
                    </h3>
                </div>
                <div class = "panel-body"><h5> {{ entry.text}}</h5></div>
                <div></div>
            </div>         
        {% empty %}
            Não há tópicos
        {% endfor %}

    <h3> <a href = "{% url 'new_entry' topic.id %}" style="text-decoration: none">Adicionar nova anotação</a></h3>
{% endblock conteudo %}